.details__container {
  position: relative;
  padding: 10px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  background: #EFEFBB;
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background: linear-gradient(to right, #D4D3DD, #EFEFBB);
  cursor: pointer;
}

.details__weight__container,
.details__height__container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: #f3f3f3;
}

.details__height__container {
  right: -10px;
}

.details__weight,
.details__height {
  font-size: 0.7em;
}

.details__weight__container {
  left: -10px;
}

.details__image__container {
  padding: 10px;
}

.details__image {
  width: 180px;
  height: 180px;
}

.details__stats {
  padding-top: 10px;
}

.details__stat-name {
  text-transform: capitalize;
}

.details__name {
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 10px;
}

.details__base-stat {
  display: flex;
  align-items: center;
}

.details__base-stat__value {
  padding-left: 10px;
}

.details__types {
  display: flex;
  justify-content: center;
}

.details__type {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-transform: capitalize;
}
