.card {
  border: 1px solid black;
  width: 200px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  transition: transform 1s;
}

.card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card__image__container {
  border-radius: 50%;
  background-color: #EFEFBB;
}

.card__image {
  width: 200px;
  height: 200px;
  padding-bottom: 10px;
}

.card__name__container {
  text-align: center;
  padding: 15px 0;
}

.card__name {
  text-align: center;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 1.2em;
  padding: 5px 10px;
}

.card__types {
  display: flex;
  justify-content: center;
}

.card__type {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  text-transform: capitalize;
}
