.title {
  text-align: center;
  padding: 20px 0;
  background-color: coral;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: auto;
}

.button__container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.button {
  width: 250px;
  height: 40px;
  background: coral;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: orangered;
}

.footer {
  height: 50px;
  line-height: 50px;
  text-align: right;
  padding-right: 50px;
  background-color: lightsalmon;
}

.details {
  display: flex;
}

.loader__container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #EFEFBB;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
