.header {
  margin-bottom: 20px;
  padding: 20px 0;
  background-color: coral;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.main__container {
  display: flex;
  margin: auto;
  max-width: 900px;
  flex-wrap: wrap;
  justify-content: center;
}

.main__button__container {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.main__button {
  background: coral;
  color: orangered;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: transform 1s , color 1s;
}

.main__next__button {
  width: 250px;
  height: 40px;
  border-radius: 5px;
}

.main__prev__button {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.main__button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: white;
}

.footer {
  height: 50px;
  padding-right: 50px;
  line-height: 50px;
  text-align: right;
  background-color: lightsalmon;
}

.loader__container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.loader {
  width: 120px;
  height: 120px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #EFEFBB;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ReactModal__Overlay--after-open {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: .5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}


.ReactModal__Overlay--before-close {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-duration: .5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}
@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(0.9);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}
